/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    height: 100%;
}

a{
    text-decoration: none;
}

/*  acessibilidade */
a:focus, .button:focus, .form-button:focus, #name:focus, #email:focus, #comment:focus{
    outline: aqua;
    -webkit-box-shadow: 0px 0px 3px 3px aqua;
    box-shadow: 0px 0px 3px 3px aqua;
}

ul li{
    list-style: none;
}

/* acessível a leitores de tela */

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}

/* animação */

@-webkit-keyframes pula{

    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50%{
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        opacity: 0.4;
    }

    100%{
        -webkit-transform: translateZ(60px);
        transform: translateZ(60px);
    }
}

@keyframes pula{

    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50%{
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        opacity: 0.4;
    }

    100%{
        -webkit-transform: translateZ(60px);
        transform: translateZ(60px);
    }
}

.s-container-skills-animate:nth-child(1){
    -webkit-animation-name: pula;
    animation-name: pula;
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.s-container-skills-animate:nth-child(2){
    -webkit-animation-name: pula;
    animation-name: pula;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.s-container-skills-animate:nth-child(3){
    -webkit-animation-name: pula;
    animation-name: pula;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.s-container-skills-animate:nth-child(4){
    -webkit-animation-name: pula;
    animation-name: pula;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.s-container-skills-animate:nth-child(5){
    -webkit-animation-name: pula;
    animation-name: pula;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;

}

.s-container-skills-animate:nth-child(6){
    -webkit-animation-name: pula;
    animation-name: pula;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.s-container-skills-animate:nth-child(7){
    -webkit-animation-name: pula;
    animation-name: pula;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.s-container-skills-animate:nth-child(8){
    -webkit-animation-name: pula;
    animation-name: pula;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.s-container-skills-animate:nth-child(9){
    -webkit-animation-name: pula;
    animation-name: pula;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.s-container-skills-animate:hover{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

/* header-background */

.h-container{ /* BACKGROUND IMAGE  */
    background-color: linear-gradient(#08060F, #313265, #315D67); /* fallback */
    background-image: url(../images/bg-home.jpg); /* W3C */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    max-height: 100vh;
}

.nav{ /* nav */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(27, 27, 27);
}

.nav-menu-link{
    display: block;
    margin: 0.5em;
    padding: 1em 0.5em;
    text-align: center;
    text-transform: capitalize;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    border-bottom: 1px solid rgb(41, 41, 41);
}

.nav-menu-link:hover{
    color: #000;
    background-color: #fff;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

/* logo */

.logo{
    display: inline-block;
    color: #fff;
    font-size: 1.25em;
    margin: 1em;
    text-transform: lowercase;
    letter-spacing: 1px;
}

.logo{
    color: #1CE783;
}

.logo:hover{
    color: rgba(255, 255, 255, 0.450);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* title e sub-text */

.h-container-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 420px;
    max-height: 95vh;
    text-align: center;
}

.h-text{
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
}

.h-title{
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    color: #1CE783;
}

.h-title-subtext{
    text-align: center;
    margin: 1.25em 0.5em;
    font-size: 1.25em;
    font-weight: 700;
    color: #fff;
}

.icon-container-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.fa-linkedin, .fa-github, .fa-envelope-square, .fa-behance-square{
    margin: 0.5em 0.75em;
    font-size: 1.5em;
    color: #fff;
}

.fa-linkedin:hover, .fa-github:hover, .fa-envelope-square:hover, .fa-behance-square:hover{
    color: #1CE783;
}

/* sobre */

.s-container-sobre{
    background-image: -o-linear-gradient(5deg, #070808, #111422, #26283c, #413943);
    background-image: linear-gradient(85deg, #070808, #111422, #26283c, #413943);
    padding: 1.75em 0.5em;
}

.s-container-title{
    font-weight: 300;
    text-align: center;
    font-size: 2.25em;
    letter-spacing: 2px;
    margin-bottom: 1.5em;
    color: #fff;
}

.s-container-skills{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.3em;
}

.s-container-skills-animate{
    padding: 1.25em 0.5em;
    margin-bottom: 2em;
}

.s-container-skills-animate p{
    text-align: center;
    color: #1CE783;
    font-size: 0.9em;
    font-weight: 400;
    text-transform: uppercase;
}


.s-container-perfil-img{
    margin-top: 1.5em;
}

.s-container-perfil-img img{
    display: block;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 15px 130px;
}

.s-container-perfil-text{
    margin: 1.5em auto;
    padding: 0.5em;
    width: 85%;
    font-size: 1em;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1.5;
    color: #fff;
}

.s-container-word{
    font-size: 2.5em;
    color: #1CE783;
}

.s-container-link{
    display: block;
    max-width: 45%;
    text-align: center;
    text-transform: capitalize;
    padding: 0.9em 0.5em;
    margin: 1.5em auto;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    border: 2px solid #11ac5e;
    border-radius: 25px 25px;
    word-spacing: 2px;
}

.s-container-link:hover, .form-button:hover{
    background: #11ac5e;
    border: 2px solid #11ac5e;
    text-shadow: 1px 1px 2px #1f1f1f;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


/* projetos */

.s-projetos{
    background-color: #fff;
    padding: 1.75em 0.5em;
}

.projetos-title{
    margin: 1em ;
    font-size: 2.75em;
    text-align: center;
    color: #000;
}

.projetos-text{
    width: 70%;
    margin: 0.5em auto;
    text-align: center;
    font-size: 1.25em;
    font-weight: 300;
    color: #000;
    letter-spacing: 1px;
}

.projetos-subtitle{
    max-width: 60%;
    margin: 1.75em auto;
    text-align: center;
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000;
}

.projetos-galeria{
    max-width: 75%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 1.25em auto;
    padding: 0.5em;
}

.projetos-galeria > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.projetos-galeria-item{
    overflow-y: hidden;
}

.projetos-galeria-item:hover .photo{
    -webkit-transform: translateY(15%);
    -ms-transform: translateY(15%);
    transform: translateY(15%);
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    opacity: 0.9;
}

.photo{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/* contato */

.s-container-contato{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1.75em 0.5em;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#08060F), color-stop(#313265), to(#315D67));
    background-image: -o-linear-gradient(top,#08060F, #313265, #315D67);
    background-image: linear-gradient(180deg,#08060F, #313265, #315D67);
}

.s-content-contato-text{
    max-width: 90%;
    
}

.s-content-contato{
    max-width: 90%;
    padding: 1.5em 0.5em;
}

.contato-title{
    margin: 1.25em ;
    font-size: 2.5em;
    text-align: center;
    color: #fff;
}

.contato-text{
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 300;
    width: 70%;
    letter-spacing: 3px;
    margin: auto;
}

fieldset {
    border: none;
}

.divLinha{
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1em;
    text-align: left;
}

input[type="text"], input[type="email"], textarea{
    border: none;
    padding: 0.5em;
    background-color: rgb(204, 204, 204);
}

.divLinha label{
    font-size: 1em;
    color: #fff;
}

#name, #email{
    width: 90%;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 0.25em;
}

#comment{
    width: 90%;
    display: block;
    margin-top: 1em;
    margin-bottom: 0.25em;
}

.form-container-button{
    text-align: center;
}

.form-button{
    max-width: 80%;
    text-transform: capitalize;
    margin-top: 0.3em;
    font-weight: 700;
    padding: 0.9em 1.5em;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    background: transparent;
    border: 2px solid #1CE783;
    border-radius: 25px 25px;
    word-spacing: 2px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.contato-cite-text{
    font-size: 1.35em;
    padding: 1em;
    text-align: center;
}

.contato-form{
    margin: auto;
    width: 360px;
    height: 420px;
}

/* footer */

.s-container-footer{
    background-color: #dadada;
}

.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1.75em 0.5em;
}

.s-container-footer-sociais{
    text-align: center;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.footer-sociais-link{
    color: #000;
    font-size: 0.8em;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 2.4;
}

.footer-sociais-link:hover, .footer-details a:hover{
    color: #13814a;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.s-container-footer-menu{
    text-align: center;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
}

.footer-details{
    text-align: center;
    font-size: 0.75em;
    padding: 0.25em 0;
}

.footer-details a{
    color: #000;

}


/* Media Queries */

/* a partir 484px */
@media(min-width: 484px){

    /* projetos */

    .projetos-galeria{
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
        
    }

    .projetos-galeria > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        
    }

    .projetos-galeria > *:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        
    }

    .projetos-galeria > *:nth-child(3){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        
    }

    .projetos-galeria > *:nth-child(4){
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        
    }

    .projetos-galeria > *:nth-child(5){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        
    }

    .projetos-galeria > *:nth-child(6){
        -ms-grid-row: 3;
        -ms-grid-column: 2;
        
    }

}


@media(max-width: 767px){

    /* nav e menu */

    .fa-bars{
        margin: 0.25em 0.75em;
        font-size: 1.5em;
        border: none;
    }

    #btn-mobile{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #fff;
        padding: 0.5em 0.3em;
        font-size: 1em;
        margin: 0 1em;
        border-left: 1px solid #fff;
        background: none;
        border-right: none;
        border-top: none;
        border-bottom: none;
        cursor: pointer;
    }

    #btn-mobile:hover{
        color: #000;
        background-color: #1CE783;
        border: none;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    .nav-menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        position: absolute;
        width: 100%;
        top: 60px;
        right: 0;
        background-color: #000;
        margin: 0;
        padding: 0;
        height: 0;
        -webkit-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
        visibility: hidden;
        overflow-y: hidden;
        z-index: 1000;
    }

    .nav.active .nav-menu{
        visibility: visible;
        overflow-y: auto;
        height: calc(100vh - 60px);
    }

}


/* a partir de 768px */
@media (min-width:768px){

    /* menu */

    #btn-mobile{
        display: none;
    }

    .nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0);
    }
        
    .nav-menu{ /* ul */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        width: 50%;
    }

    .nav-menu-link{
        border: none;
    }

    .nav-menu-link:hover{
        color: #1CE783;
        background: none;
        -webkit-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
    }

    /* logo */

    .logo{
        font-size: 1.25em;
    }

    /*  header */

    .icon-link{
        padding: 0.75em 0.3em;
    }

    .h-text{
        font-size: 1.25em;
    }

    /* sobre */

    .s-container-skills{
        padding: 1em 0.3em;
    }

    .s-container-link{
        display: block;
        max-width: 25%;
    }

    /* projetos */

    .projetos-galeria{
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    }

    .projetos-galeria > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .projetos-galeria > *:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .projetos-galeria > *:nth-child(3){
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .projetos-galeria > *:nth-child(4){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .projetos-galeria > *:nth-child(5){
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .projetos-galeria > *:nth-child(6){
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }

    .projetos-galeria > *:nth-child(7){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .projetos-galeria > *:nth-child(8){
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }

    .projetos-galeria > *:nth-child(9){
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    /* contato */

    .s-container-contato{
        padding: 1.5em 0.5em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .s-content-contato-text{
        max-width: 40%;
        
    }
    
    .s-content-contato{
        max-width: 60%;
        padding: 1.5em 0.5em;
    }

}


