@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cpbvwv');
  src:  url('fonts/icomoon.eot?cpbvwv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cpbvwv') format('truetype'),
    url('fonts/icomoon.woff?cpbvwv') format('woff'),
    url('fonts/icomoon.svg?cpbvwv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-compass:before {
  content: "\e949";
}
.icon-menu2:before {
  content: "\e9be";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-behance2:before {
  content: "\eaa9";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
